<!-- <div ng-controller="ModalController as $ctrl"> -->

<!-- {{$ctrl.message}} -->
<div class="container">
  <h1> This is the calendar </h1>
<div ui-calendar="cc.uiConfig.calendar" ng-model="cc.eventSources"></div>
<div ng-repeat="person in cc.users.list">
  <h3>{{person.first_name}} {{person.last_name}}</h3>
</div>

  <div ng-repeat="event in cc.eventList.list">
    <h3>{{event.date}} {{event.num_users}} {{event.role_title}} {{event.first_name}} {{event.last_name}}</h3>

  </div>
  <h1>Reports</h1>
      <div class="separateExports">
          <h2>Export to CSV</h2>
          <div class="cal">
              <div class="startDate">
                  <span>
                  <h4>Start date:</h4>
                  <div uib-datepicker ng-model="startDate" datepicker-options="options"></div>
              </span>
              </div>
              <div>
                  <span class="endDate">
                  <h4>End date:</h4>
                  <div uib-datepicker ng-model="endDate" datepicker-options="options"></div>
              </span>
              </div>
          </div>
          <div class="row report-button">
            <!-- <a ng-href="{{ '/report/invoice/' + startDate.format('YYYY-MM-DD') + '/' + endDate.format('YYYY-MM-DD') + '/invoice.csv' }}"> -->
                <button type="button" class="btn btn-primary">Volunteer Report</button>
            </a>
        </div>
</div>
<!-- </div> -->
