<div class="container">




  <div class="well">
      <div class="row-fluid">
          <div class="span4">
            <h3> This is the calendar </h3>
          </div>
<div class="span8">
<div calendar="myCalendar" ui-calendar="cc.uiConfig.calendar" ng-model="cc.eventSources"></div>
  <div id="modalId" ></div>

  <button class="btn btn-info"
  ng-csv="getArray" csv-header="getHeader()" filename="{{ filename }}" field-separator="{{separator}}" decimal-separator="{{decimalSeparator}}"
  ng-click="cc.clickFn(click)">Export CSV</button>

  <div ng-repeat="event in cc.eventList.list">
    <p>{{event.date}} {{event.num_users}} {{event.role_title}} {{event.first_name}} {{event.last_name}}</p>
  </div>

<p>{{cc.eventList}}</p>
  <p> {{cc.currentUser}} </p>
</div>
</div>
</div>
