<div class="container">
  <div class="center-block">
    <img src="../assets/betshalomlogo.png">

    <div class="col-sm-offset-8 col-sm-2" ng-if="cc.currentUser.info.is_admin === false">
      <uib-progressbar class="progress" max="150" value="cc.currentUser.info.signed_up_duration || 0"></uib-progressbar>
      <input type="button" class="btn btn-default" ng-if="cc.currentUser.info.signed_up_duration >= 150" onclick="location.href='https://docs.google.com/forms/d/100wByegI2XZ8zghQx9apNwJUdelmoL-trFnCvNAvhnY/viewform?edit_requested=true&fbzx=8775102327509708000';"
        value="Thanks for volunteering!" />
    </div>

  </div>
  <div class="well">



    <div class="row-fluid">

        <div calendar="myCalendar" ui-calendar="cc.uiConfig.calendar" ng-model="cc.eventSources"></div>
        <div id="modalId"></div>
        <div ng-repeat="event in cc.eventList.list">
          <p>{{event.date}} {{event.num_users}} {{event.role_title}} {{event.first_name}} {{event.last_name}}</p>
        </div>
        <!-- <p>{{cc.eventList}}</p>
        <p> {{cc.currentUser}} </p> -->

      <div ng-if="cc.currentUser.info.is_admin">
        <button class="btn btn-info"
        ng-csv="getArray" csv-header="getHeader()" filename="{{ filename }}" field-separator="{{separator}}" decimal-separator="{{decimalSeparator}}"
        ng-click="cc.clickFn(click)">Export CSV</button>
      </div>

    </div>
  </div>
