<div class="container">
  <div class="jumbotron">
    <h1>Volunteer Opportunities</h1>
  </div>
<p>We need your help to ensure the safety and security of our students and to also ensure that our program is the strongest one it can be. We are asking each parent to volunteer 2.5 hours per year either as a Lobby Greeter, Pick-up Volunteer, Front-Desk Coverage, or Snack Bar. All volunteers will be receiving directions on what to expect during the shift. If you need to cancel last minute, please notify Ali King at ali.king@betshalom.org or (952) 426-6649. </p>
</div>
<br>
<div class="panel panel-primary">
  <div class="col-md-6">
     <div class="panel-heading">Snack Bar</div>
     <div class="panel-body">Snack Bar volunteers help by setting up and selling snacks to our 3rd-8th graders before class on Wednesday evenings. There are detailed notes for volunteers and will always be someone present to take the lead in directing volunteer support.</div>
   </div>
</div>
<div class="panel panel-primary">
  <div class="col-md-6">
     <div class="panel-heading">Lobby Greeter</div>
     <div class="panel-body">Lobby Greeters will sit at a desk in the Religious School Entrance, or the Main Entrance during Religious School hours. Greeters will welcome families as they enter and direct any questions as appropriate. Greeters will also alert a staff person if any suspicious person enters or if any inappropriate activity occurs.</div>
   </div>
</div>
<div class="panel panel-primary">
  <div class="col-md-6">
     <div class="panel-heading">Front Desk</div>
     <div class="panel-body">Those covering the Front Desk will field questions from parents as appropriate and will take notes to deliver to staff on any items that need follow up. A detailed description of questions that may arise will be provided to volunteers.</div>
   </div>
</div>
<div class="panel panel-primary">
  <div class="col-md-6">
     <div class="panel-heading">Pick-Up</div>
     <div class="panel-body">Pick-Up volunteers will help ensure that students do not walk out into dangerous areas of the parking lot unless accompanied by a parent.  This person may also be responsible for gathering students' names from each car and relaying them to the person at the front desk (who will then page students to come out at that time).</div>
   </div>
</div>

  <button ng-click="" class="btn btn-primary">Continue to Volunteer</button>
