<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <!-- {{$ctrl.eventList}}<br> -->
  <!-- $ctrl.currentEventClicked.title{{$ctrl.currentEventClickedId.title}}<br>
  $ctrl.currentEvent{{$ctrl.currentEvent}}<br> -->
  {{$ctrl.currentEventClicked.id.title}}<br>
  <!-- {{$ctrl.currentEvent.id.title}} -->
  <div class="modal-container">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Volunteer Opportunity</th>
          <th>Time</th>
          <th>Sign Up</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="event in $ctrl.currentEventClicked">
          <td scope="row">{{event.title}}</td>
          <td scope="row">{{event.start}}</td>
          <td><div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" ng-model="event.id" ng-change="$ctrl.checked(event._id)"  class="form-check-input">
              Sign-Up!
            </label>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn" ng-click="$ctrl.clickSaveSignUp()">Save </button>
</div>
</body>
</html>
