<div class="container">
  <div class="center-block">
    <!-- <img src="../assets/betshalomlogo.png"> -->
    <div class="title">
      <h1>✔ Volunteer First</h1><br>
    </div>

  </div>

<div >

    <div  ng-if="sc.currentUser.info.is_admin === false">
      <uib-progressbar class="progress" max="150" style="width: 70%; height: 30px;"   value="sc.currentUser.info.signed_up_duration || 0">{{sc.currentUser.info.signed_up_duration}} min. out of 150 min.</uib-progressbar>
      <p class="lead pull-right" style="width: 85%;"><em>* Hi {{sc.currentUser.info.first_name}}, here's your sign up progress!</em></p>
      <input type="button" class="btn btn-success" id="track" ng-if="sc.currentUser.info.signed_up_duration >= 150" onclick="location.href='https://docs.google.com/forms/d/100wByegI2XZ8zghQx9apNwJUdelmoL-trFnCvNAvhnY/viewform?edit_requested=true&fbzx=8775102327509708000';"
        value="Click here to continue!" />

    </div>

    <!-- <p>{{cc.eventList}}</p> -->
    <p> {{sc.currentUser.info}} </p>
    <p> {{sc.getUserData}} </p>
    <p> {{sc.userRoles.list}} </p>
  </div>
  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; Volunteer First 2017</p>
      </div>
    </div>
    <!-- /.row -->
  </footer>
</div>
