<ul class="navbar" ng-controller="LoginController as lc">
  <div class="container-fluid nav navbar-nav">
    <li><a href="#!home">Home</a></li>
    <li><a href="#!calendar">Calendar</a></li>
    <button class="btn btn-danger navbar-btn" ng-click="lc.signOut()">Sign Out</button>
    <div class = "col-sm-offset-8 col-sm-2"><uib-progressbar class="progress-striped active" max="100" value="67"></uib-progressbar>
    <input type="button" onclick="location.href='https://docs.google.com/forms/d/100wByegI2XZ8zghQx9apNwJUdelmoL-trFnCvNAvhnY/viewform?edit_requested=true&fbzx=8775102327509708000';" value="Thanks for volunteering!" />
  </div>
  </div>
</ul>