body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

/*progress bar*/
.progress{
  background-color: white;
  margin: 0 auto;
  text-align: center;
  border:2px solid rgb(0, 122, 255);
}

.progress-bar {
  background-color: #62aeff;
  font-size: 14px;
  line-height: 23px;
}

/*buttons and text*/
#track{
    margin: 10px 0 15px 460px;
    text-align: center;
}
#close {
  margin-bottom: 20px;
}

.title {
  text-align: center;
}

/*navbar*/
.navbar-brand {
  padding: 20px 20px 0px 0px;
}

.navbar{
  width: 100%;
}

li {
	display: block;
	padding: 5px 8px;
	line-height: 1;
}
a::selection{
  background: inherit;
}

a:focus, a:active {
   outline: none !important;
}

.center-block img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  clear: both;
}

.modal-container {
  padding: 20px;
}

.portfolio-item {
    margin-bottom: 25px;
}

.pull-right {
  float: right !important;
}

.unstyled {
  margin-top: 60px;
  clear: both;
}

/*CALENDAR STYLING*/

div .calendar{
  margin-top: 40px;
  clear: both;
}

.fc .fc-toolbar > * > * {
  margin-left: 0px;
}

tr:first-child > td > .fc-day-grid-event{
  margin-top: 0px;
}
/*tr:first-child > td > .fc-day-grid-event:before{
  margin-top: 0px;
  content: "hello";
}*/

.fc-time{
  display:none;
}

.fc-day:hover{
    background:white;
}

/*Allow pointer-events through*/
.fc-slats, /*horizontals*/
.fc-content-skeleton, /*day numbers*/
.fc-bgevent-skeleton /*events container*/{
    pointer-events:none
}

/*Turn pointer events back on*/
.fc-bgevent,
.fc-event-container{
    pointer-events:auto; /*events*/
}

.fc-day-grid-event{
  margin: 0px;
}

.fc-event, .fc-event-dot{
  background-color: transparent;
}

.fc-event, .fc-event:hover, .ui-widget .fc-event{
  background-color: rgb(0, 122, 255);
}

.fc-event{
  border: 3px solid rgb(0, 122, 255);
  border-radius: 0px;
}


.fc-day-grid-container.fc-scroller {
    height: auto!important;
    overflow-y: auto;
}


.fc-unthemed td.fc-today {
  background: #62aeff ;
  border: -3px solid transparent;
}

.well{
	float: right;
  margin-bottom: 40px;
  margin-top: 20px;
  clear:both;
}


/*END CALENDAR STYLING*/

.form-signin .form-control {
        position: relative;
        font-size: 16px;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        height: auto;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
.vertical-offset-100 {
        padding-top: 100px;
    }
/*.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    }*/

.panel {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    }

.jumbotron {
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);

  }

  .firebaseErr {
    margin-top: 20px;
  }

/*img {
  display: inline-block;
  float: right;
  transform: translate(-25px, 35px);
  border-radius: 25px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}*/




footer {
    margin: 50px 0;
}
