/*navbar*/
.navbar-brand {
  padding: 20px 20px 0px 0px;
}

.navbar{
  width: 100%;
}

.center-block img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  clear: both;
}

.modal-container {
  padding: 20px;
}
body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.portfolio-item {
    margin-bottom: 25px;
}

.pull-right {
  float: right !important;
}

/*CALENDAR STYLING*/

/*.fc-row .fc-week .fc-widget-content{
  height: 280px;
}*/

.fc-event, .fc-event-dot{
  background-color: transparent;
}
.fc-event, .fc-event:hover, .ui-widget .fc-event{
  color:navy;
}
.fc-event{
  border: 1px solid transparent;
}
.fc-unthemed td.fc-today {
  background: LightCyan ;
  border: -3px solid transparent;
}

.well{
	float: right;
  margin-bottom: 40px;
  clear:both;
}
.row-fluid [class*="span"]:first-child {
  margin-left: 0px;
}
.row-fluid .span4{
  float: left;
  clear: both;
}

li {
	display: block;
	padding: 5px 8px;
	line-height: 1;
}
.calAlert{
	width: 595px; float: right; margin-bottom: 5px;
}
/*END CALENDAR STYLING*/

.form-signin .form-control {
        position: relative;
        font-size: 16px;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        height: auto;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
.vertical-offset-100 {
        padding-top: 100px;
    }
/*.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    }*/

.panel {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    }

.jumbotron {
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);

  }

/*img {
  display: inline-block;
  float: right;
  transform: translate(-25px, 35px);
  border-radius: 25px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}*/




footer {
    margin: 50px 0;
}
